body{
    font-family: Arial, sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
    background-color:#f4f4f4 ;
}

header{
  width: 96%;
  margin: 0px 2%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000000;
}
main {
    display: flex;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-group label {
    flex: 1;
    min-width: 100px;
    text-align: right;
}

.form-group input,
.form-group select {
    flex: 2;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid black;
    
}

.form-group select{
    margin-top: 25px;
}


#btn-container{
    display: flex;
    align-items: center;
    margin-right: 2%;
}

#btn-container button {
    margin: 15px;
    box-shadow: 2px 2px 0px #000000;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    text-shadow: 0px 0px 0px #000000;
}

button:hover {
    background-color: #555;
}

.type-specific {
    display: none;
}

#dvd-fields.active,
#book-fields.active,
#furniture-fields.active {
    display: block;
}

#furniture-fields .form-group {
    flex-direction: column;
    align-items: flex-start;
}

#furniture-fields .form-group label,
#furniture-fields .form-group input {
    flex: none;
    width: 100%;
}

footer {
  border-top: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 75px;
  margin: 0;
  padding: 0 2%; 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box; 
}


   